<%= image_tag @pin.image.url %>

<p>
  <strong>Description:</strong>
  <%= @pin.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @pin.price %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @pin.deadline %>
</p>


  <%= link_to 'Edit', edit_pin_path(@pin) %>

<%= link_to 'Back', pins_path %>